.App {
  text-align: center;
}

.loginContainer {
  border:1px solid;
  display: block;
  margin: 5px;
  padding: 10px;
  position: relative;
}
.regForm {
  display: block;
}
.FancyBorder {
  padding: 10px 10px;
  border: 10px solid;
}

.FancyBorder-blue {
  border-color: peachpuff;
}

.Dialog-title {
  margin: 0;
  font-family: sans-serif;
}

.Dialog-message {
  font-size: larger;
}